.left.static-page-left
  .static-content
    %h1= @contacts.title
    = raw @contacts.content
.right.static-page-right
  = render partial: 'layouts/tour_type'
  = render partial: 'layouts/news'
  = render partial: 'layouts/attention'