.left
  %h2= @for_clients.title
  = raw @for_clients.content
.right
  = render partial: 'layouts/tour_type'
  = render partial: 'layouts/news'
  %h2 Обратите внимание
  = render partial: 'layouts/attention'