.left.static-page-left
  .static-content
    - unless @for_agency.nil?
      %h1= @for_agency.title
      = raw @for_agency.content
      = render partial: 'layouts/share'
.right.static-page-right
  = render partial: 'layouts/tour_type'
  = render partial: 'layouts/news'
  = render partial: 'layouts/attention'