.left
  %h1= @for_tourists.title
  = raw @for_tourists.content
.right
  = render partial: 'layouts/tour_type'
  = render partial: 'layouts/news'
  %h2 Обратите внимание
  = render partial: 'layouts/attention'