.left.static-page-left
  .static-content
    - if @for_tourists.present?
      %h1= @for_tourists.title
      = raw @for_tourists.content
      = render partial: 'layouts/share'
.right.static-page-right
  = render partial: 'layouts/tour_type'
  = render partial: 'layouts/news'
  = render partial: 'layouts/attention'