.left.static-page-left
  .static-content
    - if @news_all.present?
      %h1 Новости
      - @news_all.each do |news|
        .all-news
          %dl
            %dt
              = link_to news.title, news_path(news), title: "#{news.title}"
            %dd
              = raw strip_tags(news.content).truncate(300)
            %dd.news-date
              %span= Russian::strftime(news.created_at, "%e %B %Y")
.right.static-page-right
  = render partial: 'layouts/tour_type'
  = render partial: 'layouts/news'
  = render partial: 'layouts/attention'