.left
  %h1= @news_item.title
  %p=  raw @news_item.content
  %p=  @news_item.created_at.strftime("%B %e, %Y")
  %p= link_to "Все новости", news_index_path
.right
  = render partial: 'layouts/tour_type'
  = render partial: 'layouts/news'
  %h2 Обратите внимание
  = render partial: 'layouts/attention'
