.left.static-page-left
  .static-content
    %h3= @news_item.title
    %p=  raw @news_item.content
    %p=  Russian::strftime(@news_item.created_at, "%e %B %Y")
    %p= link_to "Все новости", news_index_path
.right.static-page-right
  = render partial: 'layouts/tour_type'
  = render partial: 'layouts/news'
  = render partial: 'layouts/attention'
