.left.static-page-left
  .static-content.news-show
    - if @news_item.present?
      %h1= @news_item.title
      %p=  raw @news_item.content
      %p.news-date=  Russian::strftime(@news_item.created_at, "%e %B %Y")
      = render partial: 'layouts/share'
      %p.all-news-link= link_to "Все новости", news_index_path, title: "Все новости"
.right.static-page-right
  = render partial: 'layouts/tour_type'
  = render partial: 'layouts/news'
  = render partial: 'layouts/attention'
