= simple_form_for @request do |f|
  - if @request.errors.any?
    #error_explanation
      %h2= 'При заполнении формы возникли ошибки!'
  .form-inputs
    = f.input :name, placeholder: 'Ваше имя', label: 'Ваше имя:'
    = f.input :phone, placeholder: '+375 29 203 55 93',label: 'Ваш номер телефон:'
    = f.input :email, placeholder: 'Email', label: 'Email'
    = f.input :notation, as: :text, placeholder: 'что бы вы хотели заказать', label: 'Что бы вы хотели:'
  .actions
    = f.button :submit, value: 'Отправить заявку', class: 'order-button'

-#= form_for @request do |f|
-#  - if @request.errors.any?
-#    #error_explanation
-#      %h2= "Произошли следующие ошибки:"
-#      %ul
-#        - @request.errors.full_messages.each do |msg|
-#          %li= msg
-#
-#  .field
-#    = f.label 'Ваше имя:'
-#    = f.text_field :name
-#  .field
-#    = f.label 'Ваш номер телефона:'
-#    = f.phone_field :phone
-#  .field
-#    = f.label 'Ваш электронный адрес:'
-#    = f.email_field :email
-#  .field
-#    = f.label 'Чего бы вам хотелось:'
-#    = f.text_area :notation,  rows: 10
-#  .actions
-#    = f.submit 'Отправить заявку'