.left.static-page-left
  .static-content
    - if @tours.present?
      %h1 Наши предложения
      - @tours.each do |tour|
        .all-tour.clearfix
          - first_image = tour.tour_images.where(active: true).first if tour.tour_images.where(active: true)
          - if first_image
            = link_to image_tag(first_image.image.url(:medium)), tour_path(tour), title: "Фото | #{tour.title}"
          - else
            = link_to "Нет фото", tour_path(tour), title: "Фото | #{tour.title}"
          .all-tour-info
            %h2= link_to tour.title, tour_path(tour), title: "#{tour.title}"
            %span
              Цена от #{tour.price} #{tour.currency}
.right.static-page-right
  = render partial: 'layouts/tour_type'
  = render partial: 'layouts/news'