.left.show-tour-left
  .show-tour
    - if @tour.present?
      %h1= @tour.title
      .tour-info
        .fotorama{'data-loop'=>"true", 'data-nav'=>"none", 'data-width'=>"560", 'data-height'=>"272"}
          - @tour.tour_images.each do |i|
            = image_tag(i.image.url(:wbig))
        %strong Стоимость тура:
        %span от #{@tour.price} #{@tour.currency}
        .tour-button
          = link_to "Заказать", new_tour_order_path(@tour), title: "Заказать тур"
      .overview
        = raw @tour.overview
      = render partial: 'layouts/share'
  = render partial: 'layouts/similar_tours_block'
.right.show-tour-right
  = render partial: 'layouts/manager'
  = render partial: 'layouts/tour_type'
  = render partial: 'layouts/news'