.left.static-page-left
  .order
    %h1 Страница заказа тура
    %h2 Ваш тур: #{@tour.title}
    = render 'form'
.right.static-page-right
  = render partial: 'layouts/tour_type'
  = render partial: 'layouts/news'
  = render partial: 'layouts/attention'