.active_text
  .active_content
    = raw @home.content
.active_right
  = image_tag(@tour.tour_images.general.image.url(:big))
  .right_title
    %strong= link_to @tour.title, tour_path(@tour)
  .right_content
    = raw @tour.preview
  .price_line
    .price
      от
      = number_to_currency(@tour.price, precision: 0)
