- if @attention.present?
  .attention
    %h2 Обратите внимание
    - @attention.each do |f|
      .attention-item.clearfix
        = link_to image_tag(f.tour_images.general.image.url(:small)), tour_path(f), title: "Фото | #{f.title}"
        .attention-info
          %h3= link_to f.title, tour_path(f), title: "#{f.title}"
          %span
            от #{number_to_currency(f.price, precision:0)}