.down-panel-button
  =link_to "Заявка на тур", new_request_path, class: 'bold', title: "Заявка на тур"
.info
  %dl
    %dt.phone
      Телефоны:
    %dd
      %span.number
        = @phone_cod1
        %span.bold= @phone1
      %span.number
        = @phone_cod2
        %span.bold= @phone2
  %dl
    %dt
      Наш офис:
    %dd
      =link_to "#{@address}", "#{@address_link}", target: '_blank', title: "#{@address}"
