%footer
  %ul.nav.nav-pills
    %li.menu-item.disabled
      = link_to 'Туры', "#"
    %li.menu-item.disabled
      = link_to 'Визы', "#"
    %li.menu-item.disabled
      = link_to 'Туристам', "#"
    %li.menu-item.disabled
      = link_to 'Корпоративным клиентам', "#"
    %li.menu-item.disabled
      = link_to 'Агенствам', "#"
    %li.menu-item.disabled
      = link_to 'О компании', "#"
    %li.menu-item.disabled
      = link_to 'Контакты', "#"