.copy-right
  %p &copy; 2013 ПРЕССБОЛ-ТУР
.footer-menu
  .footer-nav
    %ul
      %li.bold= link_to 'Туры', tours_path, title: 'Туры'
      %li.bold= link_to 'Визы', visas_path, title: 'Визы'
      %li.bold= link_to 'Туристам', for_tourists_path, title: 'Туристам'
      %li
        = link_to 'Корпоративным клиентам', for_clients_path, title: 'Корпоративным клиентам'
      %li
        = link_to 'Агенствам', for_agency_path, title: 'Агенствам'
      %li
        = link_to 'О компании', about_as_path, title: 'О компании'
      %li
        = link_to 'Контакты', contacts_path, title: 'Контакты'

  .footer-info.clearfix
    %dl
      %dt.phone
        Телефоны:
      %dd
        %span.number
          = @phone_cod1
          %span.bold= @phone1
        %span.number
          = @phone_cod2
          %span.bold= @phone2
    %dl
      %dt
        Наш офис:
      %dd
        =link_to "#{@address}", "#{@address_link}", target: '_blank', title: "#{@address}"
