.row
  .logo.span2
    2013 ПРЕССБОЛ-ТУР
  %ul.span7.nav.nav-pills
    %li
      = link_to 'Туры', tours_path
    %li
      = link_to 'Визы', visas_path
    %li
      = link_to 'Туристам', "#"
    %li
      = link_to 'Корпоративным клиентам', "#"
    %li
      = link_to 'Агенствам', "#"
    %li
      = link_to 'О компании', "#"
    %li
      = link_to 'Контакты', "#"
.row
  .span2
  .phone.span3
    %dl
      %dd
        Телефоны:
      %dd
        %span.number
          +375 29
          %span.bold 127 86 06
        %span.number
          +375 29
          %span.bold 127 86 06
  .adress.span4
    %dl
      %dd
        Наш офис:
      %dd
        = link_to "Республика Беларусь, г. Минск, пер. Тучинский, 2-34", "#"