%header.header
  .logo
    =link_to(image_tag(""), root_path)
  .menu-top
    %ul.nav.nav-pills
      %li.menu-item
        = link_to 'Туры', "#"
      %li.menu-item
        = link_to 'Визы', "#"
      %li.menu-item
        = link_to 'Туристам', "#"
      %li.menu-item
        = link_to 'Корпоративным клиентам', "#"
      %li.menu-item
        = link_to 'Агенствам', "#"
      %li.menu-item
        = link_to 'О компании', "#"
      %li.menu-item
        = link_to 'Контакты', "#"