.home-left
  - if @home.present?
    = raw @home.content
.home-right.clearfix
  - if @tour.present?
    .active-left
      - if !!@tour.tour_images.general
        = link_to image_tag(@tour.tour_images.general.image.url(:big)), tour_path(@tour), title: "Фото | #{@tour.title}"
      - else
        = link_to "Нет фото", tour_path(@tour), title: "Фото | #{@tour.title}"
    .active-right
      %h2=link_to @tour.title, tour_path(@tour), title: "#{@tour.title}"
      %p= @tour.preview
      %span
        от #{@tour.price} #{@tour.currency}
