.home-left
  - if @home.present?
    = raw @home.content
.home-right.clearfix
  - if @tour.present?
    .active-left
      - first_image = @tour.tour_images.where(active: true).first if @tour.tour_images.where(active: true)
      - if first_image
        = link_to image_tag(first_image.image.url(:big)), tour_path(@tour), title: "Фото | #{@tour.title}"
      - else
        = link_to "Нет фото", tour_path(@tour), title: "Фото | #{@tour.title}"
    .active-right
      %h2=link_to @tour.title, tour_path(@tour), title: "#{@tour.title}"
      %p= @tour.preview
      %span
        от #{@tour.price} #{@tour.currency}
