.home-left
  - unless @home.nil?
    = raw @home.content
.home-right.clearfix
  - unless @tour.nil?
    .active-left
      = image_tag(@tour.tour_images.general.image.url(:big))
    .active-right
      %h2=link_to @tour.title, tour_path(@tour), title: "#{@tour.title}"
      %p= @tour.preview
      %span
        от #{number_to_currency(@tour.price, precision: 0)}
