
.logo=link_to(image_tag("logo.png", alt: 'Press-bal.com'), root_path)
.menu
  %ul
    %li.menu_item
      %strong= link_to 'Туры', tours_path
    %li.menu_item
      %strong= link_to 'Визы', visas_path
    %li.menu_item
      %strong= link_to 'Туристам', for_tourists_path
    %li.menu_item
      = link_to 'Корпоративным клиентам', for_clients_path
    %li.menu_item
      = link_to 'Агенствам', for_agency_path
    %li.menu_item
      = link_to 'О компании', about_as_path
    %li.menu_item
      = link_to 'Контакты', contacts_path
