- if @tours.present?
  .tours-block
    %h2 Похожие предложения
    .masonry-block
      - @tours.each do |tour|
        .tours-item
          = image_tag(tour.tour_images.general.image.url(:medium))
          %h3= link_to tour.title, tour_path(tour), title: "#{tour.title}"
          %span
            от #{ number_to_currency(tour.price, precision:0)}
    %p= link_to "Все предложения", tours_path, title: "Все предложения"