!!!
%html
  %head
    %title= full_title(@title)
    %meta{ name: 'keywords', content: meta_keywords(@meta_keywords) }
    %meta{ name: 'description', content: meta_description(@meta_description) }
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .main.top-panel
      .container.clearfix
        = render partial: 'layouts/top_panel'
    .main.down-panel
      .container.clearfix
        = render partial: 'layouts/down_panel'
    - if params[:controller] == 'static_pages' and params[:action] == 'home'
      .main.home-panel
        .container.clearfix
          = render partial: 'layouts/home_panel'
    .main.content
      .container.clearfix
        .notice
          - if notice
            = render 'layouts/messages'
        = yield
    .main.footer-panel
      .container.clearfix
        = render partial: 'layouts/footer_panel'
