!!!
%html
  %head
    %title Pressbal
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .main.top-panel
      .container
        = render partial: 'layouts/menu_top'
    .main.down-panel
      .container
        = render partial: 'layouts/menu_bottom'
    - if params[:controller] == 'static_pages' and params[:action] == 'home'
      .main.active_panel
        .container
          = render partial: 'layouts/active_tour'

    .main.content
      .container
        = yield
    %footer
      .main.bottom-panel
        .container
          = render partial: 'layouts/footer'
